<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ns="http://typo3.org/ns/NITSAN/NsGridtocontainer/ViewHelpers"
      data-namespace-typo3-fluid="true">

<!-- Due to css-order rendering issue ignoring "includeCssFiles" -->
<link rel="stylesheet" type="text/css"
      href="{f:uri.resource(path:'css/Module/global.css', extensionName: 'ns_gridtocontainer')}" media="all">
<link rel="stylesheet" type="text/css"
      href="{f:uri.resource(path:'css/Module/main.css', extensionName: 'ns_gridtocontainer')}" media="all">
<div class="typo3-fullDoc">
    <div id="typo3-docbody">
        <div id="typo3-inner-docbody" style="padding: 24px;margin-top: 0;transition: border .2s ease;">
            <div class="ns-ext-navigation-wrap">
                <a class="navbar-brand ns-ext-name ns-ext-name-desktop" href="javascript:;">
                    <f:translate key="mirgration_module.title" extensionName="ns_gridtocontainer"/>
                </a>
            </div>

            <f:be.menus.actionMenu>
                <ns:menus.actionMenuItem
                        label="{f:translate(key: 'migrate.actionMenu.1', extensionName: 'NsGridtocontainer')}"
                        controller="V12Migration" action="dashboard"/>
                <ns:menus.actionMenuItem
                        label="{f:translate(key: 'migrate.actionMenu.2', extensionName: 'NsGridtocontainer')}"
                        controller="V12Migration" action="specificGridMigrate"/>
            </f:be.menus.actionMenu>
            <f:render section="content"/>
        </div>
    </div>
</div>


</html>
