<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Buttons">
    <be:moduleLayout.button.linkButton
        icon="actions-add"
        title="{f:translate(id: 'LLL:EXT:backend/Resources/Private/Language/locallang_layout.xlf:newRecordGeneral')}"
        link="{f:uri.action(controller: 'Migration', action: 'new')}"
    />
</f:section>

<f:section name="Content">
    <h1>Listing for Migration</h1>

    <f:flashMessages />

    <table class="tx_nsgridtocontainer">
        <tr>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{migrations}" as="migration">
            <tr>
                <td><f:link.action action="edit" arguments="{migration: migration}" class="btn btn-default">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{migration: migration}" class="btn btn-danger">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new" class="btn btn-default">New Migration</f:link.action>
</f:section>
</html>
